<section class="w-8/12 mx-auto my-10 text-lg">
  <div class="mb-4">
    <h3 class="mb-4 font-bold text-xl">Niveau Départemental</h3>
      <h4 class="mb-4 font-semibold">Généralités</h4>
        <% @questions_dep_g.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Fleuret</h4>
        <% @questions_dep_f.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Épée</h4>
        <% @questions_dep_e.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Sabre</h4>
        <% @questions_dep_s.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %></li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
  </div>
  <div class="dashboard-reg">
    <h3 class="mb-4 font-bold text-xl">Niveau Régional</h3>
      <h4 class="mb-4 font-semibold">Généralités</h4>
        <% @questions_reg_g.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Fleuret</h4>
        <% @questions_reg_f.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Épée</h4>
        <% @questions_reg_e.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Sabre</h4>
        <% @questions_reg_s.each do |question| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= question.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, question_path(question), title: "Voir" %>
          </ul>
        <% end %>
  </div>
</section>
