<footer class="flex justify-around items-center bg-darkblue w-screen h-fit md:h-10vh text-white">
  <div class="w-full mx-auto grid grid-rows-3 lg:grid-rows-1 lg:grid-cols-3">
    <div class=" flex justify-center mb-4 lg:justify-start md:mb-0 md:ml-8">
      <%= link_to "Escrime Ile De France", "https://escrime-iledefrance.fr", target: :blank %>
    </div>
    <div class=" flex justify-center mb-4 md:mb-0">
      <%= link_to "Escrime IDF Ouest", "https://www.escrime-idfouest.fr", target: :blank %>
      <%= link_to "Escrime IDF Paris", "https://escrimeaparis.fr", class: "ml-6", target: :blank %>
      <%= link_to "Escrime IDF Est", "https://www.escrime-idfest.fr", class: "ml-6", target: :blank %>
    </div>
    <p class="inline-block italic justify-self-center lg:justify-self-end md:mr-10"><%= mail_to "contact@escrime-qcm-arbitrage.com", "Contacter l'administratrice du site" %></p>
  </div>
  </div>
</footer>
