<section class="w-10/12 mx-auto my-10 text-lg">
  <div class="mb-4">
    <h3 class="mb-4 font-bold text-xl">Résultats des QCM de lexique</h3>
    <% @users.each do |user| %>
      <% email = user.email %>
      <table class="w-full">
        <tr>
          <th>Email</th>
          <th>Octobre</th>
          <th>Novembre</th>
          <th>Décembre</th>
          <th>Janvier</th>
          <th>Février</th>
          <th>Mars</th>
          <th>Avril</th>
          <th>Mai</th>
          <th>Juin</th>
        </tr>
        <tr>
          <td><%= email %></td>
          <td><%= LexiconResult.score(email, 10) %></td>
          <td><%= LexiconResult.score(email, 11) %></td>
          <td><%= LexiconResult.score(email, 12) %></td>
          <td><%= LexiconResult.score(email, 1) %></td>
          <td><%= LexiconResult.score(email, 2) %></td>
          <td><%= LexiconResult.score(email, 3) %></td>
          <td><%= LexiconResult.score(email, 4) %></td>
          <td><%= LexiconResult.score(email, 5) %></td>
          <td><%= LexiconResult.score(email, 6) %></td>
        </tr>
      </table>
    <% end %>
  </div>
</section>
