<% content_for :meta_title, "Escrime - Qcm de Lexique" %>
<% content_for :meta_description, "Passes ton qcm de lexique" %>

<section data-controller="qcm-lexicon">
  <%= render 'shared/timer' %>
  <div class="qcm-lexicon-container flex flex-col w-11/12 md:w-8/12 mx-auto my-10">
    <h2 class="text-xl font-bold">Qcm sur le Lexique</h2>
    <div class="qcm-lexicon text-lg" data-lexicon="<%= @lexicons.pluck(:id) %>" >
      <h3 class="font-semibold my-8">20 questions en 20 minutes</h3>
        <% @lexicons.each_with_index do |lexicon, index| %>
          <form data-qcm-lexicon-target="formGeneral" class="flex flex-col text-justify" data-index="<%= index %>" data-good-answer="<%= lexicon.lexicon_answer.good_prop %>" data-lexicon-id=<%= lexicon.id %> data-category=<%= lexicon.category %>>
            <legend class="mt-8 italic"><%= lexicon.statement %> :</legend>
            <label>
              <input name="lexicon-general-<%= index %>" type="radio" value="un">
              <%= lexicon.prop_one %>
            </label>
            <label>
              <input name="lexicon-general-<%= index %>" type="radio" value="deux">
              <%= lexicon.prop_two %>
            </label>
            <label>
              <input name="lexicon-general-<%= index %>" type="radio" value="trois">
              <%= lexicon.prop_three %>
            </label>
            <p class="italic text-justify mt-4 hidden">La bonne réponse est la réponse <%= lexicon.lexicon_answer.good_prop %>.</p>
          </form>
        <% end %>
    </div>
    <button data-action="click->qcm-lexicon#handleSubmit" data-qcm-lexicon-target="submitbtn" class="self-center mt-8 text-white bg-darkblue text-lg p-2 rounded validate-qcm">Valider les réponses</button>
    <!-- Lien de retour à l'accueil quand le user a regardé la correction du qcm -->
    <%= link_to "Retour à l'accueil", root_path, data: { qcm_lexicon_target: "homeLink"}, class: "self-center mt-8 text-white bg-darkblue text-lg p-2 rounded hidden" %>
    <!-- Modal -->
    <div data-qcm-lexicon-target="modalDiv" class="p-4 hidden z-20 bg-gray-300 text-lg" id="modal_id" tabindex="-1" role="dialog" aria-labelledby="modal_id" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content flex flex-col ">
          <div class="flex justify-between items-center mb-4">
            <h5 class="font-semibold " id="modal_id">Résultat</h5>
            <button data-action="click->qcm-lexicon#close" type="button" class="text-xl text-white bg-gray-500 rounded px-2" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div data-qcm-lexicon-target="modalBody" class="flex flex-col items-center mb-12"></div>
          <div class="modal-footer flex flex-col md:flex-row justify-between items-center">
            <button data-qcm-lexicon-target="correctionbtn" data-action="click->qcm-lexicon#handleCorrection" type="button" class="mb-4 md:mb-0 text-white bg-darkblue text-lg p-2 rounded correction-qcm" data-bs-dismiss="modal">Voir la correction du QCM</button>
            <%= link_to "Retour à la page d'accueil", root_path, class: "text-white bg-darkblue text-lg p-2 rounded" %>
            <!--<button type="button" class="text-white bg-darkblue text-lg p-2 rounded homepage-qcm" data-bs-dismiss="modal">Retour à la page d'accueil</button>-->
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal -->
  </div>
</section>


