<section class="w-8/12 mx-auto my-10 text-lg">
  <div class="mb-4">
    <h3 class="mb-4 font-bold text-xl"><%= @lexicons.count %> questions du Lexique</h3>
      <h4 class="mb-4 font-semibold">Règles</h4>
        <% @lexicons_rules.each do |lexicon| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Actions</h4>
        <% @lexicons_actions.each do |lexicon| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Préparations et habiletés</h4>
        <% @lexicons_prep.each do |lexicon| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
          </ul>
        <% end %>
      <h4 class="mb-4 font-semibold">Divers</h4>
        <% @lexicons_other.each do |lexicon| %>
          <ul class="flex justify-between items-center ml-4">
              <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %></li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
          </ul>
        <% end %>
  </div>
</section>
