<section class="w-8/12 mx-auto my-10 text-lg">
  <div class="mb-4">
    <h3 class="mb-4 font-bold text-xl"><%= @lexicons.count %> questions du Lexique</h3>
      <div class="mt-8">
        <h4 class="mb-2 font-semibold">Bases de l'escrime</h4>
        <p class="mb-4 italic">Catégorie qui regroupe les questions liées aux bases de l'escrime (5 questions / qcm).</p>
          <% @lexicons_basics.each do |lexicon| %>
            <ul class="flex justify-between items-center ml-4">
                <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
            </ul>
          <% end %>
      </div>
      <div class="mt-8">
        <h4 class="mb-2 font-semibold">Actions</h4>
        <p class="mb-4 italic">Catégorie qui regroupe les questions liées aux actions offensives, défensives et contre-offensives (8 questions / qcm).</p>
          <% @lexicons_actions.each do |lexicon| %>
            <ul class="flex justify-between items-center ml-4">
                <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
            </ul>
          <% end %>
      </div>
      <div class="mt-8">
        <h4 class="mb-2 font-semibold">Préparations</h4>
        <p class="mb-4 italic">Catégorie qui regroupe les questions liées aux préparations (4 questions / qcm).</p>
          <% @lexicons_prep.each do |lexicon| %>
            <ul class="flex justify-between items-center ml-4">
                <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %>...</li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
            </ul>
          <% end %>
      </div>
      <div class="mt-8">
        <h4 class="mb-2 font-semibold">Compétition, règlement – arbitrage</h4>
        <p class="mb-4 italic">Catégorie qui regroupe les questions liées à la compétition, règlement, arbitrage (3 questions / qcm).</p>
          <% @lexicons_other.each do |lexicon| %>
            <ul class="flex justify-between items-center ml-4">
                <li><i class="fas fa-check mr-2"></i><%= lexicon.statement.first(100) %></li><%= link_to '<i class="fas fa-expand"></i>'.html_safe, admin_lexicon_path(lexicon), title: "Voir" %>
            </ul>
          <% end %>
      </div>
  </div>
</section>
