<!DOCTYPE html>
<html>
  <head>
    <title>RefereesTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= tag :meta, name: :env, content: EnvPresenter.new.secret_key %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <main class="w-screen h-80vh overflow-scroll bg-gray-100"
      <% if controller.action_name == "qcm" %>
        data-controller="back-to-top" data-action="scroll->back-to-top#showBtn" data-back-to-top-target="mainDiv"
      <% end %>
    >
      <%= render 'shared/banner' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <% if controller.action_name == "qcm" %>
        <button data-action="click->back-to-top#upToTop" data-back-to-top-target="backToTopBtn" class="bg-darkblue text-white p-2 sticky bottom-8 left-[95%] hidden"><i class="fas fa-chevron-up"></i></button>
      <% end %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
